* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  max-width: 100%;
}
html {
  font-family: 'Muller', sans-serif;
font-weight: normal;
}
.container-margin {
  margin-bottom: 70px;
}
body {
  z-index: -1;
  background-color: #f1f1f1;
}
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin-right: auto;
  margin-left: auto;
}

/* Шапка страницы */

.header__container {
  width: 100%;
  height: 54px;
  margin: 30px auto;
  display: flex;
  align-items: center;
}
.header__left {
  margin-right: 30px;
}
.header__phone {
  display: flex;
  font-size: 22px;
  line-height: 1.455;
  font-weight: bold;
}
.logo__phone {
  color: rgb(102, 102, 102);
}
.header__right {
  margin: auto 10px auto auto;
}
.login {
  font-size: 16px;
  line-height: 2;
  font-weight: 500;
  text-align: left;
  color: rgb(204, 153, 51);
}
.login__img {
  transform: translateY(2px);
}

/* Меню навигации */

.nav {
  height: 70px;
  display: flex;
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
}
.nav__list {
  padding-left: 20px;
  display: flex;
  align-items: center;
}
.nav__link {
  font-size: 16px;
  line-height: 2;
  font-weight: normal;
  color: rgb(51, 51, 51);
  white-space: nowrap;
}
.nav__item {
  margin-right: 50px;
}
.nav__item:nth-child(6) {
  margin-right: 125px;
}
.search {
  width: 350px;
  height: 50px;
  position: relative;
}
.search input {
  padding-left: 20px;
  width: 100%;
  height: 100%;
  font-size: 16px;
  border: none;
  border-radius: 15px;
  background-color: rgb(241, 241, 241);
  color: #c5c5c5;
}
.search-button {
  width: 22px;
  height: 22px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  background-image: url(/img/search.png);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/*  Стиль заголовков*/

.header-h2 {
  margin: 0 auto 25px 45px;
  font-size: 40px;
  line-height: 0.8;
  font-weight: normal;
  color: rgb(51, 51, 51);
}

/* Быстрая бронь */

.container__quick-booking {
  max-height: 596px;
}
.quick-booking {
  display: flex;
}
.fieldset {
  min-height: 450px;
  padding: 0;
  border: none;
}
.fildset__item {
  min-width: 518px;
  min-height: 70px;
  margin-bottom: 24px;
  padding-left: 20px;
  font-size: 18px;
  line-height: 2;
  font-weight: normal;
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
}
.btn {
  font-size: 18px;
  line-height: 2;
  font-weight: bold;
  text-align: center;
}
.search-number {
  display: inline-flex;
}
.btn__search-number {
  width: 160px;
  height: 70px;
  color: white;
  background-color: rgb(204, 153, 51);
  border: none;
  border-radius: 12px;
}
.free-numbers {
  font-size: 16px;
  font-weight: normal;
}
.number-free {
  padding-left: 30px;
  color: rgb(204, 153, 51);
}

/* Спецпредложение */

.special-offer__block {
  width: 595px;
  height: 540px;
  display: flex;
  background-image: url(/img/special_offer.jpg);
  background-repeat: no-repeat;
  border-radius: 12px;
  align-items: flex-end;
} 
.special-offer__box {
  display: flex;
  width: 380px;
  height: 275px;
  flex-direction: column;
  padding-left: 45px;
}
.special-offer__text {
  display: flex;
  font-size: 66px;
  line-height: 58px;
  font-weight: bold;
  color: white;
  margin-bottom: 35px;
}
.special-offer__price {
  display: inline-flex;
  font-size: 36px;
  line-height: 0.914;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.49);
}
.special-offer__next {
  padding-left: 40px;
  font-size: 18px;
  line-height: 2;
  text-align: center;
  color: rgb(255, 204, 102);
  stroke: rgb(240, 191, 95);
}
.stroke {
  vertical-align: middle;
}

/* О Нас */

.container__about-us {
  margin: 0 240px 0 0;
  line-height: 2;
  color: rgb(102, 102, 102);
}
.about-us {
  text-align: left;
}
.normal-font {
  margin: 0;
  padding-left: 45px;
  font-size: 16px;
  font-weight: normal;
  text-align: left;
}

/* Услуги */

.service__list {
  display: flex;
  flex-wrap: wrap;
}
.service__list__item {
  margin-bottom: 24px;
  margin-right: 24px;
  flex: 0 0 calc(50% - 15px);
  background-color: rgb(255, 255, 255);
  border-radius: 12px 12px 12px 12px;
}
.service__list__item:nth-child(2n) {
  margin-right: 0;
}
.service__img {
  width: 100%;
  margin-bottom: 32px;
  border-radius: 12px 12px 0 0;
}
.service__header-item {
  margin: 0 auto 20px 45px;
  font-size: 22px;
  line-height: 1;
  font-weight: 500;
  color: rgb(204, 153, 51);
  stroke: rgb(240, 191, 95);
}
.service__item__text {
  padding-left: 45px;
  padding-bottom: 45px;
  display: inline-flex;
  width: 77%;
  line-height: 32px;
  color: rgb(51, 51, 51);
}

/* Преимущества */

.edge__list {
  display: flex;
  flex-wrap: wrap;
}
.edge__list-item {
  flex: 0 0 calc(25% - 17px);
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
}
.edge__list-item {
  margin-bottom: 24px;
  margin-right: 22px;
}
.edge__list-item:nth-child(4n) {
  margin-right: 0;
}
.edge__list-item:nth-last-child(-n + 4) {
  margin-bottom: 0;
}
.edge__item {
  padding: 45px;
}
.edge__img {
  width: 70px;
  height: 60px;
}

.edge__text {
  width: 170px;
  font-size: 16px;
  line-height: 2;
  font-weight: normal;
  text-align: left;
  color: rgb(51, 51, 51);
}

/* Размещение */

.placing__list {
  display: flex;
  flex-wrap: wrap;
}
.placing__list-item {
  min-height: 441px;
  margin-bottom: 20px;
  margin-right: 25px;
  flex: 0 0 calc(33.33% - 17px);
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
}

.placing__list-item:nth-child(3n) {
  margin-right: 0;
}
.placing__list-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.placing__item {
  height: 100%;
}
.placing__price {
  margin-right: 40px;
  display: inline-flex;
}
.placing__box {
  margin: auto 45px 20px 0;
  display: block;
  font-size: 18px;
  line-height: 2;
  font-weight: normal;
  text-align: left;
  color: rgb(150, 150, 150);
}
.placing__box__text {
  margin: auto 45px 20px 0;
  display: block;
  font-size: 18px;
  line-height: 2;
  font-weight: normal;
  text-align: left;
  color: rgb(150, 150, 150);
}

.placing__font {
  margin: 0;
  font-weight: 500;
  color: black;
}
.placing__color {
  font-size: 18px;
  color: rgb(150, 150, 150);
}
.img-placing {
  margin-bottom: 35px;
  border-radius: 12px 12px 0 0;
}
.img-placing-next {
  border-radius: 12px;
}
.placing__box-next {
  position: relative;
  bottom: 40px;
  left: 38px;
  font-size: 22px;
  line-height: 1.455;
  font-weight: 500;
}
.font-placing__price {
  font-size: 20px;
  font-weight: bold;
  color: black;
}
.box-stars {
  display: inline;
}
.btn__placing {
  width: 100px;
  height: 40px;
  margin: auto auto 45px 45px;
  display: block;
  color: rgb(204, 153, 51);
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(204, 153, 51);
  border-radius: 12px;
}
.placing__list-item-next {
  background-image: url(/img/placing/9.jpg);
  background-size: cover;
  position: relative;
  display: flex;
  align-items: flex-end;
}
.placing__list-item-next a {
  display: inline-block;
  color: white;
  stroke: rgb(255, 255, 255);
}
.placing__list-item-next a::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

/* Контакты */

.contacts__write-us {
  display: flex;
  margin-bottom: 20px;
}
.contacts__block {
  width: 472px;
  height: 619px;
  background-color: #fff;
  border-radius: 12px;
  padding: 15px 45px;
}
.contacts__item {
  display: flex;
  border-bottom: 1px solid gray;
}
 .contacts__item__left {
  display: flex;
  width: 145px;
}
 .contacts__item__right {
  display: flex;
  width: 240px;
  vertical-align: center;
}
.contacts__headers {
  font-size: 22px;
  font-weight: bold;
  color: rgb(102, 102, 102);
  line-height: 32px;
  width: 145px;
  min-height: 100px;
  padding-top: 15px;
}


.contacts__info {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  width: 240px;
  padding-top: 20px;
}
.contacts__info_color {
  color: rgb(204, 153, 51);
}
.color_gray {
  color: rgb(150, 150, 150);
}
.btn__route {
  width: 214px;
  height: 70px;
  display: block;
  color: rgb(204, 153, 51);
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(204, 153, 51);
  border-radius: 12px;
}
.route {
  margin: 45px auto auto auto;
}

.write-us {
  margin: 130px auto auto auto;
}
.write-us__header {
  margin-left: 35px;
  margin-bottom: 45px;
}
.write-us__fieldset {
  padding: 0;
  display: flex;
  border: none;
}
.write-us__item {
  font-size: 16px;
  font-weight: normal;
  color: rgb(153, 153, 153);
  line-height: 2;
  width: 340px;
  height: 70px;
  padding-left: 20px;
  margin-bottom: 24px;
  border-radius: 12px;
}
.write-us__form__textarea {
  height: 110px;
  width: 340px;
  padding-top: 15px;
}
.btn__send {
  width: 340px;
  height: 70px;
  color: white;
  background-color: rgb(204, 153, 51);
  border: none;
  border-radius: 12px;
}

/* Footer */

.footer {
  display: flex;
  position: relative;
  border-radius: 12px;
  background-color: rgb(51, 51, 51);
  height: 338px;
  width: 1170px;
}
.footer__blocks__left {
  width: 345px;
  height: 240px;
  margin: 50px 70px 50px 50px;
  font-size: 16px;
  font-weight: normal;
  color: rgb(255, 255, 255);
  line-height: 2;
}
.offert_info {
  padding-top: 8px;
  padding-bottom: 8px;
}
.copyrihgt {
  line-height: 2;
  text-align: left;
}
.footer__blocks__right {
  width: 365px;
  height: 240px;
  margin: 50px 250px 50px 0px;
  font-size: 16px;
  font-weight: normal;
  color: rgb(255, 255, 255);
  line-height: 2;
}

.social {
  display: flex;
  margin-top: 50px;
  margin-right: 50px;
}

.social__item {
  width: 25px;
  height: 25px;
  margin-bottom: 20px;
}

.footer__img {
  width: 258px;
  height: 228px;
  position: absolute;
  right: 175px;
  bottom: 0;
}

/* Link-hover effects */

a:hover {
  color: rgb(255, 154, 2);
  stroke: rgb(255, 154, 2);
  cursor: pointer;
  transition: ease-in-out;
  transition-duration: 200ms;
}
.logo__phone:hover {
  color:rgb(255, 154, 2);
  transition: ease-in-out;
  transition-duration: 200ms;
}
.special-offer__next:hover {
  stroke: rgb(255, 154, 2);
  color: rgb(255, 154, 2);
  transition: ease-in-out;
  transition-duration: 200ms;
  
}
.service__header-item:hover {
  color: rgb(255, 154, 2);
  cursor: pointer;
  stroke: rgb(255, 154, 2);
  transition: ease-in-out;
  transition-duration: 200ms;

}
.edge__img:hover {
  transform: scale(1.1,1.1);
  transition: ease-in-out;
  transition-duration: 200ms;
}
.placing__box-next:hover {
  color: rgb(255, 154, 2);
  stroke: rgb(255, 154, 2);
  cursor: pointer;
  transition: ease-in-out;
  transition-duration: 200ms;
}

/* Btn-hover effects */

.btn:hover {
  transform: scale(1.1,1.1);
  transition: ease-in-out;
  transition-duration: 200ms;
}
.btn-hover_orange:hover {
  transform: scale(1.1,1.1);
  transition: ease-in-out;
  transition-duration: 200ms;
  color: rgb(255, 154, 2);
  border-color: rgb(255, 154, 2);
}
.btn-hover_white:hover {
  background-color: rgb(255, 154, 2);
  color: white;
}

/* Шрифты */

@font-face {
  font-family: 'Muller';
  src: url("..//fonts/MullerLight.woff2") format("woff2"),
  url("..//fonts/MullerLight.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'Muller';
  src: url("..//fonts/MullerRegular.woff2") format("woff2"),
  url("..//fonts/MullerRegular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Muller';
  src: url("..//fonts/MullerMedium.woff2") format("woff2"),
  url("..//fonts/MullerMedium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'Muller';
  src: url("..//fonts/MullerBold.woff2") format("woff2"),
  url("..//fonts/MullerBold.woff") format("woff");
  font-style: normal;
  font-weight: bold;
}
